@font-face {
    font-family: "ff-mark";
    src: local(ff-mark),url(/FontFont_FF.Mark.Pro.Black.otf);
    font-weight: bold;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ff-mark;
  
}
body{
    position: relative;
}
.containerLogin{

    position: absolute;
}

